

.slider {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

.nuolivasen {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
}

.nuolioikea {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
}
